<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>All Products</h1>

<%= link_to 'New Product', new_product_path %>
<%= link_to 'View Menu', menu_path %>
<%= link_to 'View Store Items', store_path %>

<%= form_with(url: products_path, method: :get, local: true, data: { turbo_frame: "products" }) do |form| %>
  <%= form.text_field :query, placeholder: "Search products...", value: params[:query] %>
  <%= form.submit "Search" %>
<% end %>

<%= turbo_frame_tag "products" do %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
        <th>Stock Quantity</th>
        <th colspan=""></th>
      </tr>
    </thead>

    <tbody id="productsList">
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
          <td><%= number_to_currency(product.price) %></td>
          <td><%= product.category %></td>
          <td><%= product.stock_quantity %></td>
          <td><%= link_to 'Show', product %></td>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td><%= button_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'New Product', new_product_path %>
